<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="./libraries/angular.js"></script>
    <script src="./controller.js"></script>
    <!-- ----------------------------------- Binding and controller -->
    <!-- <div>
      <input type="text" ng-model="hello" />
      <input type="text" ng-model="hello" />
      {{hello + " " + "world"}}
    </div>
    <br />
    <div ng-controller="myCtrl">
      {{number}}
      <input type="text" ng-model="myBook" />
      {{myBook}}
    </div> -->

    <!-- ----------------------------------- Connection between 2 controllers -->
    <!-- <div ng-controller="firstCtrl">
      <input type="text" ng-model="myFactory.hello" />
    </div>
    <br />
    <div ng-controller="secondCtrl">
      <input type="text" ng-model="myFactory.hello" />
    </div> -->

    <!-- ----------------------------------- Methods in the controller -->
    <div ng-controller="thirdCtrl">
      {{hello}}
      <button ng-click='setHello("foo")'>foo</button>
      <button ng-click='setHello("bar")'>bar</button>
      {{myFactory.hello()}}
    </div>
  </body>
</html>
